<html>
<body>
	<h1>ToDo ß</h1>
	<input name="task" id="inputText" class="adder" />
	<input name="submit" type="submit" id="submit" />
	<table class="display">
	</table>
	<script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="/js/todo_beta.js"></script>
	<script type="text/javascript">document.getElementById('inputText').focus();</script>
</body>
</html>