<% require 'pry' %>

<html>
<body>
	<h1> TODO </h1>
	<form action="/save" method="POST">
		<input name="task" id="inputText" />
	</form>

	<table class="delete">
	<% @todo_items.each do |item| 
	%>
			<tr>
				<td>
					<form method="POST" action="/del">
						<input type="checkbox" name="chk" value="<%= item %>" onclick="this.form.submit();"/>
						<%= item %>
					</form>
				</td>
			</tr>
	<% end%>
	</table>
	<script type="text/javascript">onload(document.getElementById('inputText').focus());</script>
</body>
</html>